---
layout: default
---

<!-- Information -->
<div class="jumbotron information">

<p>In the last decade, substantial progress has been made w.r.t. the performance of computer vision systems, a significant part of it thanks to deep learning. These advancements prompted sharp community growth and a rise in industrial investment. However, most current models lack the ability to reason about the confidence of their predictions; integrating uncertainty quantification into vision systems will help recognize failure scenarios and enable robust applications.</p>

<p>In addition to advances in Bayesian deep learning, providing practical approaches for vision problems, the workshop will provide a forum for discussing promising research directions, which have received less attention, as well as advancing current practices to drive future research. Examples include: the development of new metrics that reflect the real-world need for uncertainty when using vision systems with down-stream tasks; and moving beyond point-estimates to address the multi-modal ambiguities inherent in many vision tasks.</p>

<p>This workshop aims to raise the vision community's awareness about uncertainties surrounding the model, data, and predictions. Moreover, bringing together experts from ML and vision will create a new generation of well-calibrated and effective methods that know when they do not know.</p>

</div>


<!-- Content -->

<h2>Speakers</h2>

<div class="row justify-content-center people-widget text-center">

{% for item in site.data.speakers  %}

<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
  <a href="{{ item.url }}">
  <div class="team-member">
    <img src="{{ site.baseurl }}/assets/speakers/{{ item.img }}" class="img-responsive img-circle avatar-x2 avatar-circle" alt="">
    <h4>{{ item.name }}</h4>
    <p class="text-muted">{{ item.affiliation }}</p>
  </div>
  </a>
</div>

{% endfor %}

</div>

<h2>Call for Papers</h2>

<p>The ECCV 2022 workshop on Uncertainty Quantification for Computer Vision will consider recent advances in methodology and applications of uncertainty quantification in computer vision. Prospective authors are invited to submit papers on relevant algorithms and applications including, but not limited to:</p>

<ul>
  <li>Applications of uncertainty quantification</li>
  <li>Failure prediction (e.g., OOD detection)</li>
  <li>Robustness in CV</li>
  <li>Safety critical applications in CV</li>
  <li>Domain-shift in CV</li>
  <li>Probabilistic deep models</li>
  <li>Deep probabilistic models</li>
  <li>Deep ensemble uncertainty</li>
  <li>Connections between NNs and GPs</li>
  <li>Incorporating explicit prior knowledge in deep learning</li>
  <li>Computational aspects and real-time probabilistic inference</li>
  <li>Output ambiguity, multi-modality and diversity</li>
</ul>

<p>Papers will be peer-reviewed, and accepted papers are presented at the workshop and included in the ECCV Workshop Proceedings. <a href="/cfp">See submission instructions</a>.</p>

<h2>Important Dates</h2>

<ul>
  <li>Submission deadline: **TBA**</li>
  <li>Notification of acceptance: **TBA**</li>
  <li>Camera-ready deadline: **July 17, 2022**</li>
</ul>

<h2>Organizers</h2>

<!--
<div class="row justify-content-center people-widget text-center">

<div class="col-12 col-sm-4 col-md-3 col-lg-2 col-xl-2">
  <a href="{{ item.url }}">
  <div class="team-member">
    <img src="{{ site.baseurl }}/assets/speakers/{{ item.img }}" class="img-responsive img-circle avatar avatar-circle" alt=""></br>
    <strong>{{ item.name }}</strong>
    <p class="text-muted">{{ item.affiliation }}</p>
  </div>
  </a>
</div>

</div>
-->


<ul>

{% for item in site.data.organizers  %}

  <li><a href="{{ item.url }}"><strong>{{ item.name }}</strong></a>, {{ item.affiliation }}</li>

{% endfor %}

</ul>




